html{
    background-color: black;
    color: greenyellow;
    text-align: center;
}
/* HEADER */
.header{
    font-family: Bradley Hand, cursive, sans-serif;
}

/* BODY */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainCont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.calcBorder{
    border: 10px solid rgb(244, 234, 234);
    border-radius: 2%;
    width: 215px;
    height: 355px;
    left: 50%;
    right: 50%;
}

.calcScreen{
    width: 190px;
    height: 60px;
    padding: 15px 10px 5px 10px;
    font-size: 22px;
    border: solid white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
}

.cell{
    display: flex;
    flex-shrink: 0;
    width: 40px;
    padding: 5px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white
}

.topRow, .numbsTop, .numbsMid, .numbsBot{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;    
}

.numsOps{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border: solid paleturquoise;
}

.zero{
    width: 95px;
}

.lastRow{
    display: flex;
    flex-direction: row;
}

.operator{

}

.number{

}


/* FOOTER */
.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    position: absolute;
    text-align: center;
    z-index: 1;
    }
.fa-github {
    color: greenyellow;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
    margin-bottom: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}