html{
    background-color: black;
    color: greenyellow;
    text-align: center;
}
/* HEADER */
.header{
    font-family: Bradley Hand, cursive, sans-serif;
}

/* BODY */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.mainCont{
    display: flex;
    justify-content: center;
    left: 25%;
    right: 25%;
    bottom: 25%;
    margin-top: 5%;
}
.calcBorder{
    border: 10px solid rgb(244, 234, 234);
    border-radius: 2%;
    width: 215px;
    height: 355px;
    left: 50%;
    right: 50%;
}

.hiddenCont{
    width: 215px;
}

.calcScreen{
    height: 60px;
    padding: 15px 10px 5px 10px;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    flex-grow: 0;
    border: solid white;
}

.cell{
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    padding: 5px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cell:hover{
    background-color: yellow;
    color: black;
    transform: scale(1.1);
    text-shadow: 2px 2px grey;
    border: 2px solid grey;
}

.topRow, .numbsTop, .numbsMid, .numbsBot{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;    
}

.numsOps{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border: solid paleturquoise;
}

.zero{
    width: 95px;
}

.lastRow{
    display: flex;
    flex-direction: row;
}

.operator{
    background-color: greenyellow;
    color: black;
}

.number{

}


/* FOOTER */
.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    z-index: 1;
    }
.fa-github {
    color: greenyellow;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
    margin-bottom: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}